*.mode1v3
*.mode2v3
*.normal
*.perspectivev3
*.pbxuser
*.xcuserstate
project.xcworkspace/
xcuserdata/
Config.xcconfig
DerivedData/
IPHONEOS_DEPLOYMENT_TARGET
iOS/Flutter/SDKROOT
*.moved-aside
AutomatedTests/
GeneratedPluginRegistrant.h
GeneratedPluginRegistrant.m
GeneratedPluginRegistrant.objc.h
GeneratedPluginRegistrant.swift
pods-design.xcconfig
Pods/
.idea/
.DS_Store
*.xcworkspace
